body{
	background-color:black;
	background-image:url(perrito.jpg);
	/* repeat / no-repeat
	repeat-x /repeat-y
	*/
	background-repeat:no-repeat;
	/*
	eje x /eje y
	*/
	background-position:center 200px;
	/*cubre el 100% del ancho y no pierde su proporción*/
	background-size: cover;
	
	
	
	
	
	font-family:arial;
	color:pink;
}

h1{
	margin-top:800px;
	/*font-family: "times new roman";
	serif
	sans-serif
	monospace
	cursive
	*/
	
	font-family:arial,cursive,sans-serif;
	font-size:50px;
	/*italic o normal */
	font-style: italic;
	/*bold - normal o múltiplo de 100=a light */
	font-weight:600;
	font-weight:normal;
	
	/*ancho - tipo - color 
	solid-dashed-dotted-groove..etc
	*/
	border:4px groove blue;
	border-right:10px dotted yellow;
	
}
